@page "/Articles/Create"

@inject NavigationManager NavigationManager
@inject IArticleRepository ArticleRepository

<h3>Create</h3>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <EditForm Model="Model" OnValidSubmit="btnSubmit_Click">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <ValidationSummary></ValidationSummary>
                <div class="form-group">
                    <label for="Title">Title</label>
                    <InputText id="Title" class="form-control" placeholder="Enter Title" @bind-Value="@Model.Title"> </InputText>
                    <ValidationMessage For="@(() => Model.Title)" class="form-text text-muted"></ValidationMessage>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/Articles" class="btn btn-secondary">List</a>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Article Model { get; set; } = new Article();

    protected async Task btnSubmit_Click()
    {
        //저장로직
        await ArticleRepository.AddArticleAsync(Model);

        //저장후 리스트페이지로 이동
            NavigationManager.NavigateTo("/Articles");
    }
}
