@page "/Articles/Details/{Id:int}"


@inject NavigationManager NavigationManager
@inject IArticleRepository ArticleRepository


<h3>Details</h3>
<hr />

<div class="row">
    <div class="col-md-12">

        <div class="form-group">
            <label for="id">ID</label>  @Model.Id
        </div>
        <div class="form-group">
            <label for="id">Title</label>  @Model.Title
        </div>
        <div class="form-group">
            <label for="id">Title</label>  @Model.Content
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/Articles" class="btn btn-secondary">List</a>

    </div>
</div>




@code {

    [Parameter]
    public int Id { get; set; }

    public Article Model { get; set; } = new Article();

    protected override async Task OnInitializedAsync()
    {
        Model = await ArticleRepository.GetArticleByIdAsync(Id);
    }
}



